footer{
    background: @color-primary;
    color: @color-light;
    display: flex;
    justify-content: space-around;
    .wrp();
}
.soc{
    &__list {
        display: flex;
        justify-content: space-between;
        .py(fw(5px,15px));
    }

    &__item {
    }

    &__link {
        cursor: pointer;
    }

    &__icon {
        .box(fw(20px,30px));
    }
}
